.seccion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  justify-content: stretch;
  align-content: center;
  min-height: 500px;
  background-image: linear-gradient(to bottom, #48bbed, white); }
  .seccion article {
    display: grid;
    grid-template-columns: 3fr 1 fr;
    height: 200px;
    width: 150px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px; }
    .seccion article div {
      min-height: 100px;
      min-width: 100px;
      margin: 3px;
      border-radius: 20px;
      background-image: url(../img/vaca.jpg); }
    .seccion article p {
      font-size: 20px;
      text-transform: uppercase;
      text-align: center; }

.novedades {
  display: grid;
  grid-template-columns: 2fr;
  background-color: #ed7a48;
  overflow: auto;
  max-height: 500px;
  border-radius: 10px; }
  .novedades h2 {
    text-align: center;
    text-transform: uppercase; }
  .novedades div {
    margin: 15px;
    background-color: #ffffff;
    height: 1fr;
    width: 0.5fr; }
    .novedades div p {
      font-size: 22px; }

.redesSociales {
  margin: 50px 0px 50px 0px; }
  .redesSociales h3 {
    margin: 10px;
    text-align: center;
    text-transform: uppercase; }
  .redesSociales .redesSociales__logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .redesSociales .redesSociales__logos a {
      margin: auto; }

.marginAuto {
  margin: auto; }

.cajas__prueba1 {
  background-color: #1f5064;
  width: 720px;
  height: 100px; }

.cajas__prueba2 {
  background-color: #48bbed;
  width: 360px;
  height: 100px; }

.cajas__prueba3 {
  background-color: #ed7a48;
  width: 620px;
  height: 100px; }

.cajasBucle__prueba1 {
  height: 100px;
  width: 360px; }

.cajasBucle__prueba2 {
  height: 100px;
  width: 720px; }

.cajasBucle__prueba3 {
  height: 100px;
  width: 1080px; }

.cajasBucle__prueba1 {
  background-color: #eb6529; }

.cajasBucle__prueba2 {
  background-color: #eb6529; }

.cajasBucle__prueba3 {
  background-color: #eb6529; }

.cajasBucle__prueba1 {
  font-size: 10px; }

.cajasBucle__prueba2 {
  font-size: 20px; }

.cajasBucle__prueba3 {
  font-size: 30px; }

.colorRed {
  background-color: Red; }

.colorCyan {
  background-color: Cyan; }

.colorYellow {
  background-color: Yellow; }

.presentacion {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-content: center;
  align-items: center; }
  .presentacion img {
    margin: auto; }
  .presentacion div p {
    font-size: 20px; }

.background__error {
  background-color: #48bbed; }
  .background__error section {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center; }
    .background__error section a img {
      width: 300px;
      height: 220px; }
    .background__error section h1 {
      color: #ffffff; }
    .background__error section p {
      color: #ffffff; }
    .background__error section a button {
      border-radius: 20px;
      border: none;
      width: 200px;
      height: 80px;
      background-color: #1f5064;
      font-size: 2rem;
      color: #ffffff; }

.textAling {
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

/* paleta de colores segun Material desing
    color principal celeste: #48bbed
    color complementario naranja: #ed7a48
    link de la seleccion https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=48bced&secondary.color=ed7a48
    */
html {
  font-family: 'Montserrat', sans-serif; }

#logo {
  height: 100px;
  width: 200px; }

/* main */
.seccion1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  align-items: stretch; }

.seccion1__titulo {
  display: grid;
  grid-template-rows: 100px 50px 300px;
  justify-content: flex-start; }

.seccion1__titulo--h1 {
  font-size: 500%;
  margin-left: 5%; }

.seccion1__titulo--p {
  font-size: 25px;
  margin-left: 10%; }

.seccion1__titulo--a {
  display: grid; }

.seccion1__titulo--flecha {
  width: 25px;
  height: 55px;
  margin-left: 7%;
  align-self: flex-end; }

.seccion2__nosotros {
  text-align: center;
  padding: 100px 0px 100px 0px; }

.seccion2__nosotros--p {
  text-align: center;
  font-size: 20px; }

.seccion2__nosotros--a {
  padding: 200px 0px 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 30px; }

.seccion2__nosotros--a:hover {
  color: black; }

footer {
  background-color: #1f5064;
  height: 50px; }

.footerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.footer__info {
  margin: 5px 0px 5px 0px; }

.footer__info--center {
  text-align: center; }

.gradiente {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: stretch;
  align-content: stretch;
  min-height: 500px;
  background-image: linear-gradient(to bottom, #48bbed, white); }

/* -----bootstrap----- */
nav {
  background-color: #48bbed; }

.logoDimension {
  height: 100px;
  width: 200px; }

.menu2 li a {
  text-decoration: none;
  color: #161616;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  min-width: 150px;
  transition: background-color,0.5s; }

.menu2 li:hover a {
  background-color: #ed7a48; }

.menu2 li a:hover {
  background-color: #ed7a48; }

.subMenu2 {
  background-color: #ed7a48; }

.subMenu2 li {
  background-color: #ed7a48; }

.subMenu2 li a {
  background-color: #ed7a48;
  color: #161616;
  font-size: 20px;
  font-weight: normal; }

.subMenu2 li:hover a {
  background-color: #eb6529; }

.derecha {
  justify-content: flex-end;
  align-content: center; }

.formulario {
  margin: auto;
  width: 1000px;
  height: 300px; }

.directorio {
  background-image: linear-gradient(to right, white, #48bbed);
  width: 50%; }

/* mobile first */
@media (min-width: 769px) {
  body {
    background-color: #ffffff; } }

/* tablet */
@media (max-width: 768px) and (min-width: 321px) {
  body {
    background-color: #ffffff; }
  .seccion1__titulo--flecha {
    display: none; }
  .seccion1 {
    display: grid;
    grid-template-columns: 1fr; }
  .seccion1__titulo {
    display: none; }
  footer {
    margin-top: 200px; } }

/* moviles */
@media (max-width: 320px) {
  body {
    background-color: #ffffff; }
  .seccion1__titulo--flecha {
    display: none; }
  .seccion1 {
    display: grid;
    grid-template-columns: 1fr; }
  .seccion1__titulo {
    display: none; }
  #logo {
    justify-self: center;
    align-self: center; }
  #logo {
    height: 70px;
    width: 90px; }
  footer {
    margin-top: 200px; }
  .footer__info {
    justify-content: space-around;
    align-content: center; }
  .seccion2__link--a {
    padding: 50px 0px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 25px; } }
