@import 'variables.scss';
.presentacion{
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-content: center;
    align-items: center;
    .imagen__izquierda{
        max-width: 50%;
        height: auto;
        justify-self: flex-end;
        margin-right: 5%;
        
    }
    .imagen__derecha{
        max-width: 50%;
        height: auto;
        justify-self: flex-start;
        margin-left: 5%;
    }
    div p{
        font-size: 20px;
        margin: auto;
    }
    .derecho{
        text-align:end ;
    }
}
// media jqueries mobile

@media (max-width:320px){
    .presentacion{
        margin-bottom: 200px;
    display:inline;

    .imagen__izquierda{
        max-width: 80%;
        height: auto;
        margin: 35px;
    }
    .imagen__derecha{
        max-width: 80%;
        height: auto;
        margin: 35px;
    }

    div .derecho{
            text-align: center;
        }
    }
}