// colores
$colorPrincipal:#48bbed;
$colorSecundario: #ed7a48;
$colorBlanco:#ffffff;
$colorFooter:#1f5064;
$colorMenuHover:#eb6529;
$colorSearchbox:#90a6c2;
$colorbotonesFooter:#f1f1f1;

// medidas
$medidaCaja:720px;

// color
$color: celeste;