@import 'variables.scss';

/*Restart*/
* {
    margin: 0;
    padding: 0; }
  
  html {
    font-family: 'Montserrat', sans-serif;
 }
/*   index*/
  /* main */
.seccion1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-items: stretch; }
  
.seccion1__titulo {
    display: grid;
    grid-template-rows: 100px 50px 300px;
    justify-content: flex-start; }
  
.seccion1__titulo--h1 {
    font-size: 500%;
    margin-left: 5%; }
  
.seccion1__titulo--p {
    font-size: 25px;
    margin-left: 10%; }
  
.seccion1__titulo--a {
    display: grid; }
  
.seccion1__titulo--flecha {
    width: 25px;
    height: 55px;
    margin-left: 7%;
    align-self: flex-end; 
}

.seccion2__nosotros{
    text-align: center;
    padding:100px 0px 30px 0px ;
}
  
.seccion2__nosotros--p{
    text-align: center;
    font-size: 20px; }
  
.seccion2__nosotros--a {
    padding: 200px 0px 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
.seccion2__nosotros--a:hover{
    color: black;
}     
/*Flecha baja*/
.flechaDown{
    margin: auto;
    img{
        height: 80%;
        width: 80%;
        opacity:30% ;
    }
}
/* tarjetas de index con informacion*/
.container{
    overflow:auto;
}
.hacemos{
    padding: 6% 0% 3% 0%;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.tarjetas{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-evenly;
    
        
        div{
            justify-self:center ;
            text-align: center;

        }
        .card{
            margin: 10px 0px 10px 0px;
        }
    }
    


/* FOOTER*/
footer{
    background-color:$colorFooter;
    margin-top: 80px;
    min-height: 50px;
}
.footerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer__info {
    padding-top: 0.7%;
    margin: auto;
}
.footer__info--term{
    font-size: 1vw;
}
.footer__searchbox{
    border-radius: 10px;
    border: none;
    opacity: 85%;
    background-color:$colorSearchbox ;
 }
 .footer__searchbox::placeholder{
     color: $colorBlanco;
 }
.footer__info--center{
    text-align: center;}
.footer__rrss{
    display: block;
}
.footer__rrss--logo{
    max-height: 25px ;
}
.botonTermino{
    border-radius: 10px;
    color: $colorBlanco;
    margin: auto;
    padding: 1px 8px 1px 8px;
    background-color: $colorSearchbox;
}

/* Background de web*/
.gradiente {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: stretch;
    align-content: stretch;
    min-height: 500px;
    background-image: linear-gradient(to bottom, #48bbed, white); 
}
  
  /* -----bootstrap----- */
/*carousel*/
.borderRadius{
    border-radius: 10px;
}
/* Menu, estilos*/
nav {
    background-color: #48bbed; }
    
.logoDimension {
    height: 100px;
    width: 200px; }
  
.menu2 li a {
    text-decoration: none;
    text-align: center;
    color: #161616;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    min-width: 150px;
    transition: background-color,0.5s; }
  
.menu2 li:hover a {
    background-color: $colorSecundario; }
  
.menu2 li a:hover {
    background-color:  $colorSecundario; }

.derecha {
    justify-content: flex-end;
    align-content: center; }

/*Page profesionales*/

@import 'profesionales.scss';

/* Page contactos*/
.formulario {
    margin: auto;
    width: 85vw;
}

.directorio{
    background-image:linear-gradient(to right, white, $colorPrincipal);
    width: 50%;
}

.boton:hover{
    background-color: $colorSecundario;
    border:none;
}
/*maps de contacto*/
.margin-top{
    margin-top: 50px;
}
.encuentranos{
    width: 85vw;
    height: auto;
    text-align: center;
    margin: auto;
    
    div{
        font-size: medium;
        margin-right: 30px;
    }
 
}
/* estilos de error404*/
@import 'error404.scss';
    
/* Responsive */
/* mobile first */
   /* web */
  @media (min-width: 769px) {
    body {
      background-color: $colorBlanco; } 
    .maps{
        width: 400px;
        height:300px;}
        .botonMobiles{
            display: none;
        }
    }
    
  /* tablet */
  @media (max-width: 768px) and (min-width: 321px) {
 body {
      background-color:$colorBlanco; 
    }
.seccion1__titulo--flecha {
      display: none; 
    }
.seccion1 {
      display: grid;
      grid-template-columns: 1fr;
     }
.seccion1__titulo {
      display: none;
     }

footer {
      margin-top: 200px; } 
    
 .botonTermino{
        font-size: 10px;
        border-radius: 10px;
        color: $colorFooter;
        margin: 5px;
        background-color: $colorbotonesFooter;
    }


    .botonMobiles {
        display: none;
    }}
  /* moviles */
@media (max-width: 320px) {
 body {
      background-color: $colorBlanco; 
    }
.seccion1__titulo--flecha {
      display: none;
     }
.seccion1 {
      display: grid;
      grid-template-columns: 1fr; 
    }
.seccion1__titulo {
      display: none; 
    }
#logo {
      justify-self: center;
      align-self: center; 
    }
#logo {
      height: 70px;
      width: 90px; 
    }

.maps{
    max-height: 150px;
    max-width: 200px;
}
footer {
      margin-top: 200px;
      .botonTermino{
          display: none;
      }
      .botonMobiles {
          color:$colorFooter;
          margin:20% 0 0 0;
          height: auto;
          font-size: small;
          display: inline;
          background-color: $colorbotonesFooter;
      }
    }
.footer__info{
      justify-content: space-around;
      align-content: center; 
    }
.seccion2__link--a{
      padding: 50px 0px 20px;
      text-decoration: none;
      color: black;
      font-weight: bold;
      text-align: center;
      font-size: 25px; } 
    }
  